@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

body, html { margin: 0; padding: 0; height: 100%; }
section, article { display: block; padding: 0; }

p { margin-top: 0; }

h2, h3 {
  font-weight: normal;
  margin-bottom: .7em;
}
h2 { font-size: 120%; }
h3 { font-size: 110%; }
article > h2:first-child, section:first-child > h2 { margin-top: 0; }

a, a:visited, a:link, .quasilink {
  color: #A21313;
  text-decoration: none;
}

em {
  padding-right: 2px;
}

.quasilink {
  cursor: pointer;
}

article {
 
  /*margin: 0 0 0 160px;
  padding: 0px 0px 0px 0px;
  background: #3d3d3d;
  z-index: 2;
  position: fixed;
  top: 60px;
  left:50px;
  min-height: 0%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;*/
}

#nav {
  position: fixed;
  top: 30px;
  left: 0; right: none;
  width: 160px;
  padding-right: 350px;
  text-align: right;
  z-index: 1;
}

@media screen and (min-width: 1000px) {
  article {
    margin: 0 auto;
  }
  #nav {
    right: 50%;
    width: auto;
  }
}

#nav ul {
  display: block;
  margin: 0; padding: 0;
  margin-bottom: 32px;
}

#nav li {
  display: block;
  margin-bottom: 4px;
}

#nav li ul {
  font-size: 80%;
  margin-bottom: 0;
  display: none;
}

#nav li.active ul {
  display: block;
}

#nav li li a {
  padding-right: 20px;
}

#nav ul a {
  color: black;
  padding: 0 7px 1px 11px;
}

#nav ul a.active, #nav ul a:hover {
  border-bottom: 1px solid #E30808;
  color: #E30808;
}

#logo {
  border: 0;
  margin-right: 7px;
  margin-bottom: 25px;
}

section {
  border-top: 1px solid #E30808;
  margin: 1.5em 0;
}

section.first {
  border: none;
  margin-top: 0;
}


#bankinfo {
  text-align: left;
  display: none;
  padding: 0 .5em;
  position: absolute;
  border: 2px solid #aaa;
  border-radius: 5px;
  background: #eee;
  top: 10px;
  left: 30px;
}

#bankinfo_close {
  position: absolute;
  top: 0; right: 6px;
  font-weight: bold;
  cursor: pointer;
}

.bigbutton {
  cursor: pointer;
  text-align: center;
  padding: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
  line-height: 1.9;
  color: white !important;
  background: #A21313;
}

.bigbutton.right {
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}

.bigbutton.left {
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.bigbutton:hover {
  background: #E30808;
}

th {
  text-decoration: underline;
  font-weight: normal;
  text-align: left;
}

#features ul {
  list-style: none;
  margin: 0 0 1em;
  padding: 0 0 0 1.2em;
}

#features li:before {
  content: "-";
  width: 1em;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: -1em;
}

.rel {
  margin-bottom: 0;
}
.rel-note {
  margin-top: 0;
  color: #555;
}

pre {
  padding-left: 15px;
  border-left: 2px solid #ddd;
}

code {
  padding: 0 2px;
}

strong {
  text-decoration: underline;
  font-weight: normal;
}

.field {
  border: 1px solid #A21313;
}
body {
		background-color: #333; color: #bbb;
	  font-family: Lucida Grande, Lucida Sans, Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
	  font-size: 11px; font-weight: normal; text-decoration: none;
		  line-height: 1.5em;
	}
	a img { 
		border: 0px solid transparent;
	}
	a, a:link, a:visited, a:active, a:hover { 
		color: #cdcdcd; text-decoration: underline;
	}
	h1 {
	    font-family: Comic Sans MS, cursive, Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
		letter-spacing: 0.1em;
        font-size: 4em;
		background-color: #024E68;
        width: 78%;
    	height: 8%;
    	position: fixed;
             left: 3.3em;
    
	}

	.header{
	top: -.7em;
    text-align: center;
    padding-top: 2%
	}

	.footer{
	   height: 7%;
	   top: 15em;
	}
	canvas {
		display: block; 
		outline: 0em; 
	}
	#sketch {
		margin-bottom: 1em; 
		width: 51.5em; min-width: 0em; overflow: auto;
		height: 30em;
		background-color: #3d3d3d;
		position: fixed;
		top: 11em;
		right:14.5em;
	}
	
	.CodeMirror {
      	
      	border: .3em solid #E0E0E0; 
      	font-size:1.33em;
		width: 34em;
		viewportMargin: 10;

		
		
      }

	#demo { 
        width: 66.7em;
        height: 11em;
		overflow-y: scroll;
		background-color: white;
		position: fixed;
		top: 41.3em;
		right:12.2em;
	}
	
	button {
		/*background: -webkit-linear-gradient(white, #AFAFAF, white); /* For Safari 5.1 to 6.0 */
		/*background: -moz-linear-gradient(white, #AFAFAF, white); /* For Firefox 3.6 to 15 */
		/*background: linear-gradient(white, #AFAFAF, white); /* Standard syntax (must be last) */
    
        background: -webkit-linear-gradient(#4B4B4B, #242121, #4B4B4B); /* For Safari 5.1 to 6.0 */
		background: -moz-linear-gradient(#4B4B4B, #242121, #4B4B4B); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#4B4B4B, #242121, #4B4B4B); /* Standard syntax (must be last) */
    
		border-radius: .2em;
		border: .1em solid #242121;
        width: 15em;
        height: 2em;
        color: #BBB;
		font-family:Arial,Helvetica,sans-serif;
		font-size: 1.25em;
        font-weight: bold;
	}
	
	button:hover{
	color: #024E68;
	}
	
	.tohButton {
		/*background: -webkit-linear-gradient(#4B4B4B, #242121, #4B4B4B); /* For Safari 5.1 to 6.0 */
		/*background: -moz-linear-gradient(#4B4B4B, #242121, #4B4B4B); /* For Firefox 3.6 to 15 */
		/*background: linear-gradient(#4B4B4B, #242121, #4B4B4B); /* Standard syntax (must be last) */
		/*color: #BBB;*/
		position: fixed;
		top: 35em;
		width: 20.7em;
		
	}
	.tohButton:hover{
	color:#30C0CD;
	}
    .codeButton{
    position: fixed;
	top: 35em;
    width: 37.1em;
    }
    #clearButton{
    right: 53.2em;
    }
    #clearButton:hover{
    color:#FF0D00;
    }

    .demoButton {
    position: fixed;
    left: 10.5em;
    }
    .demoButton:hover{
    color:#ff7800;
    }
    #runButton{
    top: 40em;
    }
    #runButton:hover{
    color:#00C618;
    }
    #debugButton{
    top: 42em;
    }
    #debugButton:hover{
    color:#00C618;
    }
    #resetButton{
    top: 44em;
    }
    #resetButton:hover{
    color:#30C0CD;
    }
    #stepButton{
    top: 46em;
    }
    #backButton{
    top: 48em;
    }
    #codeBox{
    background: #BBB;
    width:36.75%;
    height:56%;
    position: fixed;
    left:13.3em;
    top: 8em;
    
    }

